<div class="row col-md-8 col-md-offset-2">
    <div class="well">
    <h1>View Tasks</h1>
    <table class="table">
        <thead>
          <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Description</td>
                <td>Assignees</td>
                <td>Follower</td>
                <td></td>
                <td></td>
            <tr>            
        </thead>
        <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.id %></td>
                <td><%= task.title %></td>
                <td><%= task.description %></td>
                <td><% task.assignments.each do |ass| %><%= ass.user.email %><% end %></td>
                <td><% task.fellowships.each do |fell| %><%= fell.user.email %><% end %></td>
                <td><%= link_to "Edit", edit_task_path(task.id), class: 'btn btn-primary btn-xs', method: :get %></td>
                <td><%= link_to "Delete", task_path(task.id), class: 'btn btn-danger btn-xs', method: :DELETE %></td>
            <tr>
        <% end %>
        </tbody>
    </table>
 </div>
</div>